<h1>New User Form</h1>

<%= simple_form_for @user do |f| %>
<%= f.input :username %>
<%= f.input :password %>
<%= f.input :image %>
<%= f.input :bio, as: :text %>
<%= f.input :account, as: :float %>
<%= f.submit %>  
<% end %>



