<!DOCTYPE html>
<html>
  <head>
    <title>BicyclesMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <% if logged_in? %>
      <%= button_to "Log out", '/logout', method: :get %>
    <% else %>
      <%= button_to "Login", '/login', method: :get %>
      <%= button_to "Sign up", '/users/new', method: :get %>
    <% end %>

    


    <%= yield %>
  </body>
</html>
